<div id="ad_container_<%= ad.id %>" class="ad_container" data-id="<%= ad.id %>" >
	<div class="ad_thumbnail"><%= image_tag ad.thumbnail.url(:thumb) %></div>
	<div class="ad_title"><%= ad.title %></div>
</div>