obj = $('#dashboard_fe_ad_container');

<% if @ads.empty? %>
	obj.html('<p><%=t "no_ads_found" %></p>')
<% else %>  
    obj.html('<%= escape_javascript render :partial => 'ad', :collection => @ads, :locals => { :user_id => @user_id } %><br style="clear:both" />');
<% end %>

$(".fe_ad_clickable").click(function() {
	var id = $(this).data("id");
	window.location.href="<%= ads_path %>/" + id;
});
