// Place all the styles related to the Ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard_ad_container {
    padding: 15px;
}

.ad_container {
    border: 1px solid black;
    margin: 15px;
    float: left;
}

.ad_thumbnail {
    width: 140px;
    height: 180px;
    margin-left: auto;
    margin-top: auto;
    border-bottom: 1px solid black;
}

.ad_title {
    text-align: center;
    padding: 3px;
    background-color: #CCCCCC;
}

#ad_presentation_container {
    position: relative;
    width: 100%;
    height: 250px;
}

.ad_show_photo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 250px;
}

.ad_highlights {
    position: absolute;
    left: 300px;
    right: 0px;
    top: 0px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 200px;
}

.ad_show_description {
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.label {
    color: #444;
    font-weight: bold;
}

#ad_show_container {
    padding: 10px;
    margin: 0 auto;
    width: 800px;
}