// Place all the styles related to the Ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard_ad_container {
    padding: 15px;
}

.ad_container {
    -moz-border-radius: 15px;
    border-radius: 5px;
    -moz-box-shadow: 8px 8px 3px #888;
    -webkit-box-shadow: 8px 8px 3px #888;
    box-shadow: 2px 2px 10px #888;
    
    margin: 10px;
    padding: 10px;
    float: left;
    background-color: white;
}

.ad_thumbnail {
    width: 140px;
    height: 180px;
    margin-left: auto;
    margin-top: auto;
    border-bottom: 1px solid black;
}

.ad_title {
    text-align: center;
    padding: 3px;
}

.ad_presentation_container {
    position: relative;
    width: 100%;
    height: 290px;
}

.ad_show_title {
    text-align: center;
}

.ad_highlights {
    position: absolute;
    left: 300px;
    right: 0px;
    top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 220px;
}

.ad_show_description {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.ad_comments {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.label {
    color: #444;
    font-weight: bold;
}

.ad_show_container {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 800px;
}

.ad_share {
    float: right;
    padding: 4px;
}

.ad_title_container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 270px;
    font-size: 2.0em;
    line-height: 1.5em;
}

.ad_show_photo {
    width: 250px;
    height: 250px;
}
