// Place all the styles related to the Ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard_fe_ad_container {
    padding: 15px;
    border: solid 1px #D2D2D2;
}

.fe_ad_container {
    -moz-border-radius: 15px;
    border-radius: 5px;
    -moz-box-shadow: 8px 8px 3px #888;
    -webkit-box-shadow: 8px 8px 3px #888;
    box-shadow: 2px 2px 10px #888;
    
    margin: 10px;
    padding: 10px;
    float: left;
    background-color: white;
}

.fe_ad_clickable {
    cursor: pointer;
}

.fe_ad_thumbnail {
    width: 140px;
    height: 180px;
    margin-left: auto;
    margin-top: auto;
    border-bottom: 1px solid black;
}

.fe_ad_title {
    text-align: center;
    padding: 3px;
}

.fe_ad_presentation_container {
    position: relative;
    width: 100%;
    height: 290px;
}

.fe_ad_show_container {
    background-color: white;
}

.fe_ad_show_title {
    margin-bottom: 10px;
}

.fe_ad_highlights {
    position: absolute;
    left: 300px;
    right: 0px;
    top: 45px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 230px;
}

.fe_ad_show_description {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.fe_ad_comments {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.label {
    color: #444;
    font-weight: bold;
}

.fe_ad_show_container {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 800px;
}

.fe_ad_share {
    float: right;
    padding: 4px;
}

.fe_ad_title_container {
    
    font-size: 2.0em;
    line-height: 1.5em;
}

.fe_ad_show_photo {
    width: 250px;
    height: 250px;
}


.dashboard_fe_ad_container {
    background: #F1F1F1;
    height: 100%;
}

.dashboard_search {
    margin: 0 auto;
    width:500px;
}

.fe_ad_search > input#search_button {
	width: 40px;
	height: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	color: white;
	font-weight: bold;
	background-color: #444444;
	border: solid 1px #494949;
	cursor: pointer;
}

.fe_ad_search > input#search_text_field {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
    padding: 3px 4px 3px 28px;
    border: solid 1px #BEBDAA;
    height: 30px;
    width: 400px;
}

form.fe_ad_search {
    display: inline-block;
    border: solid 1px #D2D2D2;
    border-bottom: 1px solid #F1F1F1;
    padding: 3px 5px;
    -webkit-border-radius: 2em 2em 0em 0em;
    -moz-border-radius: 2em 2em 0em 0em;
    border-radius: 2em 2em 0em 0em;
    -webkit-box-shadow: 0 -1px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0 -1px 0px rgba(0,0,0,.1);
    box-shadow: 0 -1px 0px rgba(0,0,0,.1);
    background: #F1F1F1;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#F1F1F1));
    background: -moz-linear-gradient(top, white, #F1F1F1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
    z-index: 2;
    margin-bottom: -1px;
}

.fe_ad_gallery {
    margin-left: -35px;
    margin-right: -38px;
}

.fe_ad_gallery_item {
    width: 60px !important;
    height: 60px;
    float: left;
}