/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#content {
    position: relative;
    margin: 2% auto;
    padding: 10px;

	  -moz-border-radius: 15px;
	  border-radius: 5px;
	  -moz-box-shadow: 8px 8px 3px #888;
	  -webkit-box-shadow: 8px 8px 3px #888;
	  box-shadow: 2px 2px 10px #888;
	  background-color: white;
	  width: 948px;
	
}

#logo {
    position: absolute;
    top: 25px;
    left: 20px;
}

#single_content {
  margin-top: 70px;
  padding-left: 13px;
}
